/* email_input */
.log img {
    margin-top: 20px;
    width: 200px;
}

.log {
    text-align: center;
}

.text-center {
    margin: 0 auto;
    text-align: center;
}

.top-text {
    font-family: "OpenSans", Arial;
    margin-top: 20px;
    color: #555;
    font-weight: 300;
}

.sub-text {
    font-weight: 200;
}

.formCont {
    background-color: #f7f7f7;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top: 50px;
}

.input-holder {
    width: 350px;
    background-color: #f7f7f7;
    margin: 0 auto;
    width: 95%;
}

.email {
    margin-top: 50px;
    text-align: center;
    padding: 5px;
    width: 95% !important;
    height: 25px;
    font-size: 18px;
    margin-bottom: 10px;
}

.next-btn,
.next-btn:hover,
.next-btn:active {
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    width: 99% !important;
    height: 23px;
    color: #fff;
    font: 14px;
    border-radius: 2px !important;
}

.back-btn {
    margin-top: 30px;
}


