
/* css for pokedex.html */

body {
	background-color: #dfe6e9;
	background-size: 400% 400%;

	height: 100vh;
  	margin: 0;
	font-family: rubik;
}
.btn{
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
}
.escape{
    position: absolute;
    top: 15px;
    left: 15px;
}
.material-symbols-outlined{
    color: black
}


.container {
	padding: 40px;
	margin: 0 auto;
    animation: secFadeIn2 5s forwards;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size:  54px;
    text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
}
@keyframes secFadeIn2 {
	0% {
		opacity: 0;
   }
	100% {
		opacity: 10;
   }
}
#pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
    animation: secFadeIn2 15s forwards;
}
.card {
	list-style: none;
	padding: 40px;
	background-color: #EEE9E9;
	color: #222;
	text-align: center;
  border-radius: 25px;
}
.card:hover {
	animation: bounce 0.5s linear;
	cursor: pointer;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
    text-shadow: 1px 1px 2px red, 0 0 1em yellow, 0 0 0.2em yellow;
}
.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
}
.card-image {
	height: 180px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: #f4f4f4;
	opacity: 0.95;
	display: flex;
	justify-content: center;
	align-items: center;
}

#closeBtn {
	position: absolute;
	top: 20px;
	right: 20px;
}

button {
	
	padding: 10px 20px;
	border: none;
	color: black;
	border-radius: 3px;
	transition: transform 100ms;
}
button:hover {
	cursor: pointer;
	transform: translateY(-1px);
	/* box-shadow: 0px 1px 2px white; */
}
/* 
body {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
    font-family: rubik;
}

.container {
    padding: 40px;
    margin: 0 auto;
    animation: secFadeIn2 5s forwards;
}
@keyframes secFadeIn2 {
	0% {
		opacity: 0;
   }
	100% {
		opacity: 10;
   }
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}
.btn{
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
}
.escape{
    position: absolute;
    top: 15px;
    left: 15px;
}
.material-symbols-outlined{
    color: white;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
    animation: secFadeIn2 15s forwards;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: rgb(255, 255, 255);
  text-align: center;
}

.card:hover {
    animation: bounce 2s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 42px;
    font-weight: normal;
    text-shadow: 1px 1px 2px red, 0 0 1em yellow, 0 0 0.2em yellow;
}
.card-subtitle {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 30px;
    text-shadow: 2px 2px 6px #f00, 0px -1px 6px #0f0;
}

.card-image {
    height: 280px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
} */


/* totop */
.totop {
    position: absolute;
    right: 80px;
}
.totop a {
    display: none;
}
a, a:visited {
    color: red;
    text-decoration: none;
    display: block;
    
}
a:hover {
    text-decoration: black;
}